<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bar_Chip cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{593,78}</string>
                <key>spriteSourceSize</key>
                <string>{593,78}</string>
                <key>textureRect</key>
                <string>{{251,41},{593,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn-Phai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,64}</string>
                <key>spriteSourceSize</key>
                <string>{65,64}</string>
                <key>textureRect</key>
                <string>{{0,41},{65,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_Chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{844,41},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Text_cho dat cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,24}</string>
                <key>spriteSourceSize</key>
                <string>{154,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{154,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_ketqua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,138}</string>
                <key>spriteSourceSize</key>
                <string>{335,138}</string>
                <key>textureRect</key>
                <string>{{0,123},{335,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnDanhbai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,67}</string>
                <key>spriteSourceSize</key>
                <string>{186,67}</string>
                <key>textureRect</key>
                <string>{{65,41},{186,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung dat chip cuoc0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,168}</string>
                <key>spriteSourceSize</key>
                <string>{213,168}</string>
                <key>textureRect</key>
                <string>{{0,426},{213,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung dat chip cuoc1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,165}</string>
                <key>spriteSourceSize</key>
                <string>{202,165}</string>
                <key>textureRect</key>
                <string>{{175,261},{202,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung dat chip cuoc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,165}</string>
                <key>spriteSourceSize</key>
                <string>{187,165}</string>
                <key>textureRect</key>
                <string>{{377,261},{187,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung dat chip cuoc3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,165}</string>
                <key>spriteSourceSize</key>
                <string>{187,165}</string>
                <key>textureRect</key>
                <string>{{564,261},{187,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung dat chip cuoc4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,165}</string>
                <key>spriteSourceSize</key>
                <string>{202,165}</string>
                <key>textureRect</key>
                <string>{{751,261},{202,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung dat chip cuoc5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,168}</string>
                <key>spriteSourceSize</key>
                <string>{213,168}</string>
                <key>textureRect</key>
                <string>{{213,426},{213,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungdatcuoc_xocdia0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,138}</string>
                <key>spriteSourceSize</key>
                <string>{175,138}</string>
                <key>textureRect</key>
                <string>{{335,123},{175,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungdatcuoc_xocdia1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,138}</string>
                <key>spriteSourceSize</key>
                <string>{162,138}</string>
                <key>textureRect</key>
                <string>{{510,123},{162,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungdatcuoc_xocdia2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,138}</string>
                <key>spriteSourceSize</key>
                <string>{162,138}</string>
                <key>textureRect</key>
                <string>{{672,123},{162,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungdatcuoc_xocdia3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,138}</string>
                <key>spriteSourceSize</key>
                <string>{175,138}</string>
                <key>textureRect</key>
                <string>{{0,261},{175,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungdatcuoc_xocdia4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,176}</string>
                <key>spriteSourceSize</key>
                <string>{188,176}</string>
                <key>textureRect</key>
                <string>{{426,426},{188,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khungdatcuoc_xocdia5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,178}</string>
                <key>spriteSourceSize</key>
                <string>{188,178}</string>
                <key>textureRect</key>
                <string>{{614,426},{188,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timebar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,38}</string>
                <key>spriteSourceSize</key>
                <string>{269,38}</string>
                <key>textureRect</key>
                <string>{{154,0},{269,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timebar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,38}</string>
                <key>spriteSourceSize</key>
                <string>{269,38}</string>
                <key>textureRect</key>
                <string>{{423,0},{269,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>timebar3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,41}</string>
                <key>spriteSourceSize</key>
                <string>{274,41}</string>
                <key>textureRect</key>
                <string>{{692,0},{274,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{966,604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04abc7a793ac3609df1fbe6c853e2405:e411893bddef47cbf4c2af7297db9660:4d1c460786d5294715f9f3e199a00761$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
